

.body1{
	background-color: aquamarine;
}

#problematico {
	width: 1000px;
	height: 300px;
	padding: 10px;
	background-color: #ff4499;
}

.interno1{

	border: solid 2px #33ffaa;
	background-color: #88dddd;
}